---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <figure>
      <img src="/assets/profile-pic.jpg" alt="Headshot of Sandra Mago">
    </figure>
    <p>My name is Sandra Mago and I am a web development student based in Aarhus. 
    I am a half danish and half filipino (hence the unique last name) aspiring front-end 
    developer and visual designer.</p>
    <p>I have always been told that I have a keen eye for aesthetics and good design. 
    Also, I have been interested in technology and the internet from an early age. 
    So therefore, it made sense to me to study multimedia design and it was also 
    through this program that I discovered my passion for programming.</p>
    <p>I am generally a very creative individual and my hobbies include knitting, sewing, 
    photography and anything that involves using my hands.</p>

    <div class="some_container">
      <div class="some_wrapper">
          <a href="https://www.linkedin.com/in/sandramago/"><img src="/assets/linkedin.svg"
                                        alt="LinkedIn" class="some_icon"></a>
          <a href="https://github.com/sandranielsen"><img src="/assets/github.svg" alt="GitHub"
                                        class="some_icon"></a>
          <a href="https://www.instagram.com/sandra.nielsen/"><img src="/assets/insta.svg"
                                        alt="Instagram" class="some_icon"></a>
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  figure {
    float: right;
    margin: 0 -7em 0 2em;
    max-width: 400px;
  }

  figure img {
    margin-bottom: 1.5em;
    width: 450px;
    height: 300px;
    object-fit: cover;
  }

  .some_container {
    display: flex;
    justify-content: center;
}

  .some_wrapper {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      width: 50%;
      margin: 4vh 4vw 0;
  }

  .some_icon {
      width: 75%;
  }

  @media (max-width: 1020px) {
    figure {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
